<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java_write_exam.mapper.EmployeeMapper">
    <select id="listAll" resultType="employee">
        select * from employee;
    </select>
    <update id="update" parameterType="employee">
        update employee
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="account != null">
                account = #{account},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="statue != null">
                statue = #{statue},
            </if>
            <if test="power != null">
                power = #{power}
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>